body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff;
}

.container-hight{
    width: 1200px;
    margin: 0 auto;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.end{
    align-items: flex-end;
}

.list-sty{
    list-style-type: none;
}

.text-none{
    text-decoration: none;
}

.located{
    font-size: 10px;
    line-height: 15px;
    color: #1A1A1A;
    margin-right: 40px;
}

.located::before{
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url('../images/pin1.svg');
    background-repeat: no-repeat;
    background-position: cover;
}

.call{
    font-size: 10px;
    line-height: 15px;
    color: #1A1A1A;
    margin-right: 40px;
}

.call::before{
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url('../images/phone-call.svg');
    background-repeat: no-repeat;
    background-position: cover;
}

.header-hight{
    display: flex;
    justify-content: end;
}

.background{
    background-color: #E47500;
    padding: 30px 63px;
    margin-bottom: 102px;
}

.header-block{
    align-items: center;
}

.nav-item{
    margin-right: 60px;
}

.navbar{
    align-items: center;
}

.header-btn{
    border: 2px solid transparent;
    background-color: #fff;
    color: #E47500;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
}

.header-btn:hover{
    outline: 2px solid transparent;
    background-color: #0202fc9c;
    color: #fff;
}

.head-link{
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

.digital-img{
    width: 675px;
    height: 590px;
}

.digital-img::after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url('../images/disscus1.png');
    background-repeat: no-repeat;
    background-position: cover;
}

.digital-title{
    font-weight: bold;
    font-size: 20px;
    line-height: 155.2%;
    color: #E87D0E;
    margin-bottom: 17px;
}

.digital-big-text{
    font-weight: bold;
    font-size: 50px;
    line-height: 155.2%;
    color: #000000;
    margin-bottom: 26px;
}

.digital-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 200%;
    color: #000;
    margin-bottom: 50px;
}

.digital-btn{
    border: 2px solid #e87d0e;
    background-color: #E87D0E;
    color: #fff;
    padding: 15px 30px;
    border-radius: 40px;
    cursor: pointer;
}

.digital-btn:hover{
    outline: 2px solid transparent;
    background-color: #fff;
    color: #e87d0e;
}

.ipcum-section{
    padding-top: 80px;
}

.ipcum-text{
    width: 826px;
    height: 94px;
    text-align: center;
    margin-right: 50px;
    margin-left: 200px;
}

.img-people{
    padding-top: 80px;
    background-image: url('../images/dots.svg');
    background-repeat: no-repeat;
    background-position: right top;
}

.ipcum-text{
    font-weight: 600;
    font-size: 25px;
    line-height: 187.5%;
    text-align: center;
    color: #222222;
    margin-bottom: 49px;
}

.ipcum-title{
    font-weight: 600;
    font-size: 30px;
    line-height: 187.5%;
    color: #222222;
    margin-bottom: 32px;
}

.ipcum-pr{
    font-size: 16px;
    line-height: 187.5%;
    color: #525252;
    margin-bottom: 46px;
}

.people-portion{
    margin-bottom: 165px;
}

.info-title{
    font-weight: 600;
    font-size: 25px;
    line-height: 187.5%;
    text-align: center;
    color: #222222;
    margin-bottom: 24px;
    width: 826px;
    height: 94px;
    text-align: center;
    margin-right: 50px;
    margin-left: 200px;

}

.info-text{
    font-size: 16px;
    line-height: 187.5%;
    text-align: center;
    color: #525252;
    margin-bottom: 100px;
    width: 826px;
    height: 94px;
    text-align: center;
    margin-right: 50px;
    margin-left: 200px;
}

.info-img{
    margin-bottom: 30px;
}

.info-pr{
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 187.5%;
    text-align: center;
    color: #000000;
}

.option{
    margin-bottom: 133px;
}

.big-block{
    margin-bottom: 62px;
}

.portions{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

